#container {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(221, 62, 218);
    padding: 10px;
  text-align:center;
  background-color: ivory;

  
}
body{
    background-color: lightblue;
}
.choice{
    margin: auto;
    width: 50%;
    border: 3px solid rgb(221, 62, 218);
    padding: 10px;
  text-align:center;
  font-weight: bold;
}
